@import "tailwindcss";

@layer base {
  body {
    @apply bg-gray-950 text-white;
  }

  #root {
    @apply min-h-screen;
  }
}

@layer utilities {
  .kanban-scroll {
    scrollbar-width: thin;
    scrollbar-color: #374151 transparent;
  }

  .kanban-scroll::-webkit-scrollbar {
    height: 6px;
  }

  .kanban-scroll::-webkit-scrollbar-thumb {
    background: #374151;
    border-radius: 99px;
  }

  .kanban-scroll::-webkit-scrollbar-track {
    background: transparent;
  }

  /* day picker */
  .rdp-month_caption,
  .rdp-selected {
    font-size: 17px !important;
  }

  th.rdp-weekday {
    padding: 0;
  }
  .rdp-month_caption {
    padding-left: 7px;
  }
  .rdp-dropdown:focus-visible ~ .rdp-caption_label {
    outline: 0 !important;
  }
}
